@{
    ViewBag.Title = "Contact";
}
<h2 style="font-family: Georgia;">@ViewBag.Title</h2>
<html>
<head>
    <title>Contact Us</title>
    <script src="~/Content/JavaScript.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body class="home-font">

    <address>
        O1234 1st Ave NW<br />
        Cedar Rapids, IA 52404<br />
        <abbr title="Phone">P:</abbr>
        319.364.1414
    </address>

    <address>
        <strong>Support: </strong>   <a href="mailto:admin@company.com">support@crlandscaping.com</a><br />
        <strong>Marketing: </strong> <a href="mailto:Marketing@example.com">marketing@crlandscaping.com</a>
    </address>

</body>
</html>