
@{
    ViewBag.Title = "ErrorPage";
}
<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/JavaScript.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body class="home-font">
    <div>
        <h2 style="font-family: Georgia;">Oops!</h2>
        <p>Seems you ended up somewhere weird. @Html.ActionLink("Return to Home?", "Index", "Home")</p>
    </div>
</body>
</html>


