@{
    ViewBag.Title = "CR Landscaping";
}

<html>
<head>
    <title>CR Landscaping</title>
    <script src="~/Content/JavaScript.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="home-font row">
        <br /><br />
        <img src="~/Images/CRLogo.jpg" class="CRLogo" alt="Cedar Rapids Landscaping" /><br /><br />
        <div class="home-text">
            Welcome to Cedar Rapids Landscaping! Were are here to fulfill all of your yard and gardening needs.
            Here you will be able to order your custom landscaping requirements at the best price!
            <br /><br />
            A landscaping business can provide clients with lawn services to keep their yards groomed and can
            also plant flowers, trees and shrubs. Landscapers know how to plan flowerbeds and gardens to raise
            the value of a property. When a person hires a landscaper, he pays not only for manual labor but also
            for the landscaper's working knowledge of the plants and flowers that flourish in the area.
            <br /><br />
            It is beneficiary to homeowners to engage the expertise of a landscaper when they are planning new
            items in their yards. Some items survive better in certain types of soil and some thrive in different
            regions. A landscaping business will have firsthand knowledge of all the types of plants that are easy
            to mix together in one setting. For example, if you place a plant that needs little water next to one
            that requires a lot of water, then one will not survive due to over or under watering. Often, elderly
            homeowners are not able to take care of their lawns, and hiring a landscaping business keeps their
            yards healthy and pretty.
            <br />
        </div>
    </div>
</body>
</html>