@{
    ViewBag.Title = "Job Requests";
}

<!DOCTYPE html>
<h2 style="font-family: Georgia;">@ViewBag.Title.</h2>
<html>
<head>
    <title>Job Requests</title>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/JavaScript.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body class="home-font">
    <div>

    </div>
</body>
</html>
